app-home {
  width: 100%;
  padding-top: 3rem;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  small {
    text-align: center;
    margin-top: 3rem;
    display: block;
  }

  main {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: relative;
    color: #3c4043;
    width: 40rem;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: #fff;
    cursor: pointer;

    i {
      color: #757575;
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
  }

  #search {
    font: 500 1rem/1.5rem Roboto, Arial, sans-serif;
    letter-spacing: 0.0125em;
    padding: 0 0px 0 24px;
    border-radius: 8px;
    height: 100%;
    border: none;
    width: 100%;
  }

  .result-voice {
    padding: 1rem 2rem;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .result-voice:hover {
    background-color: #fafafa;
  }
  .search-wrapper {
    ul {
      position: absolute;
      top: 102%;
      z-index: 10;
      max-height: 25rem;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
      width: 40rem;
      margin: 0 auto;
      list-style: none;
      border: 1px solid #7575754f;
      border-radius: 8px;
      background-color: #fff;

      i {
        color: #ffdf00;
      }
    }
  }

  .repo-container {
    height: 60%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  section {
    width: 60rem;
    min-height: 30rem;
    color: #7575751f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid;
    padding: 1rem;
    font-weight: normal;
    width: 30%;
    height: 10rem;
    border-radius: 8px;
    border-color: #d8dada;
    cursor: pointer;
    color: #757575;

    h2 {
      font-weight: normal;
      font-size: 1.5rem;
      text-transform: capitalize;
      color: #757575;
    }
  }

  .tooltip {
    position: relative;
  }

  .tooltip:hover::before,
  .tooltip:hover::after {
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    box-sizing: border-box;
    animation: basic 0.4s forwards 0.2s;
  }

  .tooltip:hover::before {
    content: attr(data-tooltip);
    bottom: calc(100% + 0.5rem);
    width: 50%;
    background-color: rgb(56, 56, 56);
    border-radius: 3px;
    transition: all 0.2s;
    color: white;
    padding: 1rem;
  }

  .tooltip:hover::after {
    content: "";
    bottom: calc(100%);
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid rgb(56, 56, 56);
  }

  @keyframes basic {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
